[submodule "lib/foursquare"]
	path = lib/foursquare
	url = git://github.com/jmathai/foursquare-async.git
[submodule "lib/cosm"]
	path = lib/cosm
	url = git://github.com/MunGell/PachubeAPI.git
[submodule "lib/trakt"]
	path = lib/trakt
	url = git://github.com/wnielson/php-trakt.git
