[submodule "lib/foursquare"]
	path = lib/foursquare
	url = git://github.com/jmathai/foursquare-async.git
[submodule "lib/cosm"]
	path = lib/cosm
	url = git://github.com/MunGell/PachubeAPI.git
[submodule "lib/trakt"]
	path = lib/trakt
	url = git://github.com/wnielson/php-trakt.git
[submodule "lib/putio"]
	path = lib/putio
	url = git://github.com/nicoSWD/put.io-api-v2.git
[submodule "lib/withings"]
	path = lib/withings
	url = git://github.com/stfnndrsn/Withings-WBSAPI-library.git
