<?php
// COSM CONFIG
$cosm["apikey"]			= "APIKEY";
$cosm["feeds"]["foursquare"] = "FEEDID";
$cosm["feeds"]["trakt"] = "FEEDID";
$cosm["feeds"]["putio"] = "FEEDID";
$cosm["feeds"]["withings"] = "FEEDID";

// FOURSQUARE CONFIG
$foursquare["active"] 		= FALSE;
$foursquare["clientID"] 	= "CLIENTID";
$foursquare["clientSecret"] 	= "CLIENTSECRET";
$foursquare["code"]		= "CODE";
$foursquare["accesstoken"]	= "ACCESSTOKEN";
$foursquare["username"]		= "USERNAME";

// TRAKT CONFIG
$trakt["active"]                = FALSE;
$trakt["apikey"]		= "APIKEY";
$trakt["username"]              = "USERNAME";
$trakt["password"]              = "PASSWORD";

// PUT.IO CONFIG
$putio["active"]		= FALSE;
$putio["apikey"]		= "OAUTH_TOKEN";

// WITHINGS CONFIG
$withings["active"]		= FALSE;
$withings["userid"]		= 0;
$withings["mail"]		= "MAIL";
$withings["password"] 	= "PASSWORD;