<?php
// COSM CONFIG
$cosm["apikey"]			= "APIKEY";
$cosm["feeds"]["foursquare"] = "FEEDID";
$cosm["feeds"]["trakt"] = "FEEDID";

// FOURSQUARE CONFIG
$foursquare["active"] 		= FALSE;
$foursquare["clientID"] 	= "CLIENTID";
$foursquare["clientSecret"] 	= "CLIENTSECRET";
$foursquare["code"]		= "CODE";
$foursquare["accesstoken"]	= "ACCESSTOKEN";
$foursquare["username"]		= "USERNAME";

// TRAKT CONFIG
$trakt["active"]                = TRUE;
$trakt["apikey"]		= "APIKEY";
$trakt["username"]              = "USERNAME";
$trakt["password"]              = "PASSWORD";
