<?php
// COSM CONFIG
$cosm["active"] = true;
$cosm["apikey"]			= "APIKEY";
$cosm["feeds"]["foursquare"] = "FEEDID";
$cosm["feeds"]["trakt"] = "FEEDID";
$cosm["feeds"]["putio"] = "FEEDID";
$cosm["feeds"]["withings"] = "FEEDID";
$cosm["feeds"]["appnet"] = "FEEDID";
$cosm["feeds"]["mail"] = "FEEDID";
$cosm["feeds"]["github"] = "FEEDID";

// FOURSQUARE CONFIG
$foursquare["active"] 		= FALSE;
$foursquare["clientID"] 	= "CLIENTID";
$foursquare["clientSecret"] 	= "CLIENTSECRET";
$foursquare["code"]		= "CODE";
$foursquare["accesstoken"]	= "ACCESSTOKEN";
$foursquare["username"]		= "USERNAME";

// TRAKT CONFIG
$trakt["active"]                = FALSE;
$trakt["apikey"]		= "APIKEY";
$trakt["username"]              = "USERNAME";
$trakt["password"]              = "PASSWORD";

// PUT.IO CONFIG
$putio["active"]		= FALSE;
$putio["apikey"]		= "OAUTH_TOKEN";

// WITHINGS CONFIG
$withings["active"]		= FALSE;
$withings["userid"]		= 0;
$withings["mail"]		= "MAIL";
$withings["password"] 	= "PASSWORD";

// APP.NET CONFIG
$appnet["active"]	= FALSE;
$appnet["userid"]	= "USERID";

// MAIL CONFIG
$mail["active"]	= FALSE;
$mail["mailbox"]	= "{mail.example.com:993/imap/ssl}";
$mail["username"]	= "USERNAME";
$mail["password"]	= "PASSWORD";

// GITHUB CONFIG
$github["active"] = FALSE;
$github["username"] = "USERNAME";
$github["password"] = "PASSWORD";

